body{
  background-image:url("Image/Mur.jpg");
}

#appart1{
	margin-left: 10%;
	font-size: 32px;
	margin-top: 8%;
	height: 50px;
	color: white;
	background-color:red;
}

#appart2{
	margin-left: 10%;
	margin-top: 8%;
	height:50px;
	font-size: 32px;
	color: white;
	background-color:red;
}

#appart3{
	margin-left: 10%;
	margin-top: 8%;
	height:50px;
	font-size: 32px;
	color: white;
	background-color:red;
}

#appart4{
	margin-left: 10%;
	margin-top: 8%;
	height:50px;
	font-size: 32px;
	color: white;
	background-color:red;
}

#appart5{
	margin-left: 10%;
	margin-top: 8%;
	height:50px;
	font-size: 32px;
	color: white;
	background-color:red;
}

#appart6{
	margin-left: 10%;
	margin-top: 8%;
	height:50px;
	font-size: 32px;
	color: white;
	background-color:red;
}

#vide{
	left: 10%;
	font-size: 32px;
	color: white;
}

#personnage1{
	left: 10%;
	font-size: 32px;
	color: white;
	position:absolute;
}

#personnage2{
	left: 10%;
	font-size: 32px;
	color: white;
	position:absolute;
}

#personnage2{
	left: 10%;
	font-size: 32px;
	color: white;
	position:absolute;
}

#personnage4{
	left: 10%;
	font-size: 32px;
	color: white;
	position:absolute;
}

#personnage5{
	position:absolute;
	left:-140%;
	font-size: 32px;
	color: white;
	position:absolute;
}
