body{
  background-image: url(images.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:1280px 912px;
}
header{
  color: red;
  text-align: center;
  text-decoration-line: overline underline;
  text-shadow: 2px 2px 5px red;
  letter-spacing: 10px;
  word-spacing: 5px;
}

#p{
  color: white;
}
#D1{
  margin-top: -1.7%;
  margin-left: 0.5%;
  opacity: 0;
}